@import './variables';

.form-wrapper {
  .form {
    display: flex;
    align-items: center;

    .text-field {
      flex-grow: 1;
      margin-right: 32px;
    }

    .submit-button {
      width: 200px;
      height: 60px;
      background-color: $skyblue;
      border-radius: 8px;
    }
  }
}
